.Index .footer {
  height: 50px;
  width: 100%;
  background-color: lightblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.Index .footer .box {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Index .footer .box p {
  width: 100%;
  height: 100%;
  line-height: 50px;
  border-radius: 0px;
}

.Index .footer .box:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=footer.css.map */