.Index .header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Index .header .box {
  width: 100%;
  max-width: 180px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Index .header .box .circle {
  width: 15px;
  height: 15px;
  border: 2px solid var(--color);
  border-radius: 50px;
  margin: 0px 5px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.Index .header .box .circle:last-child {
  display: none;
}

.Index .header .box .circle-full {
  background-color: var(--color);
}
/*# sourceMappingURL=header.css.map */