.Index {
  width: 100%;
  max-width: 960px;
  height: 100vh;
  max-height: 580px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
}
/*# sourceMappingURL=index.css.map */