.Index .slider {
  height: 480px;
  width: 100%;
  position: relative;
}

.Index .slider .form {
  width: 100%;
  height: 100%;
  position: relative;
}

.Index .slider .form .slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Index .slider .form .slide:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Index .slider .form .step-1 .description {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Index .slider .form .step-1 .description .header {
  background-color: transparent;
  text-align: center;
  margin-bottom: 18px;
  font-size: 24px;
}

.Index .slider .form .step-1 .description img {
  width: 100%;
  height: auto;
  display: block;
}

.Index .slider .form .step-1 .inputs {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Index .slider .form .step-1 .inputs .box {
  margin: 4px;
}

.Index .slider .form .step-2 {
  width: 100%;
  height: 100%;
}

.Index .slider .form .step-2 #map {
  width: 100%;
  height: 100%;
}

.Index .slider .form .step-3 .image {
  width: 50%;
  height: 100%;
  padding: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Index .slider .form .step-3 .image .box {
  position: relative;
  width: 100%;
  height: 400px;
}

.Index .slider .form .step-3 .image .box img {
  width: 100%;
  height: auto;
  display: none;
  -webkit-animation: img 0.23s ease;
          animation: img 0.23s ease;
  position: absolute;
}

.Index .slider .form .step-3 .image .box img:nth-child(1) {
  display: block;
}

@-webkit-keyframes img {
  from {
    top: 30px;
    opacity: 0.7;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes img {
  from {
    top: 30px;
    opacity: 0.7;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.Index .slider .form .step-3 .description {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Index .slider .form .step-3 .description p {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.Index .slider .form .step-4 .box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Index .slider .form .step-4 .box p {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.Index .slider .form .step-4 .box textarea {
  width: 100%;
  max-width: 720px;
  height: 480px;
  max-height: 70%;
}

.Index .slider .form .step-end {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.Index .slider .form .step-end p {
  width: 100%;
  text-align: center;
  margin: 1em 0em;
}

.Index .slider .form .step-end .box {
  position: relative;
  width: 100%;
  height: 360px;
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Index .slider .form .step-end .box img {
  height: 100%;
  width: auto;
}
/*# sourceMappingURL=slider.css.map */