.ymap {
  display: none;
  width: 100%;
  height: 500px;
  max-height: 80vh;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 5;
  margin: 50px 0px 200px 0px;
}

.ymap #map {
  width: 100%;
  height: 100%;
}

.ymap .ymap-btn-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=ymap.css.map */