.Order-list {
    position: relative;
    width:100%;
    display:flex; flex-direction: column; align-items: center;
    padding:40px 0px;

    h1 {
        margin-bottom:0.5em;
        font-weight: bolder;
        font-size:36px;
        font-family: Arial;
    }
}