.Order-list {
    .table {
        border-collapse: collapse;
        width: 100%;
        max-width:720px;

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: var(--color);
            color: white;
        }
        tr:nth-child(even){background-color: #f2f2f2;}
        tr:hover {background-color: #ddd;}
    }
}