.Order-list {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0px;
}

.Order-list h1 {
  margin-bottom: 0.5em;
  font-weight: bolder;
  font-size: 36px;
  font-family: Arial;
}
/*# sourceMappingURL=index.css.map */