.Order-list .table {
  border-collapse: collapse;
  width: 100%;
  max-width: 720px;
}

.Order-list .table td, .Order-list .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.Order-list .table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--color);
  color: white;
}

.Order-list .table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Order-list .table tr:hover {
  background-color: #ddd;
}
/*# sourceMappingURL=table.css.map */