.Index {
    .footer {
        height:50px; width:100%;
        background-color: lightblue;
        border-bottom-left-radius:5px; border-bottom-right-radius:5px;
        border-top-left-radius:0px; border-top-right-radius:0px;
        display:flex; flex-direction: row;
        overflow: hidden;

        .box {
            width:100%; height:100%;
            display:none; flex-direction: row;

            p {
                width:100%; height:100%; line-height:50px;
                border-radius:0px;
            }
        }
        .box:nth-child(1) {display:flex};
    }
}