.Index {
    .header {
        width:100%; height:50px;
        display:flex; flex-direction: row; justify-content: space-around; align-items: center; 
        background-color: #f2f2f2;
        border-top-left-radius:5px; border-top-right-radius:5px;

        .box {
            width:100%; max-width: 180px; height: 100%;
            display:flex; flex-direction: row; justify-content: center; align-items: center; 

            .circle {
                width:15px; height: 15px;
                border:2px solid var(--color); border-radius: 50px;
                margin:0px 5px;
                transition: 300ms ease;
            }
            .circle:last-child {display:none;}
            .circle-full {
                background-color: var(--color);
            }
        }
    }
}