.Index {
    width:100%;
    max-width:960px;
    height:100vh;
    max-height:580px;
    border-radius:5px;
    display:flex; flex-direction: column;
    box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
}