.Index {
    .slider {
        height:480px; width:100%;
        position: relative;

        .form {
            width:100%; height:100%;
            position: relative;

            .slide {
                position: relative;
                width:100%; height:100%;
                display:none; flex-direction: row;
            }
            .slide:nth-child(1) {display:flex;}

            .step-1 {
                .description {
                    width:50%; height:100%; padding:20px;
                    display:flex; flex-direction: column; justify-content: center;

                    .header {
                        background-color:transparent;
                        text-align: center;
                        margin-bottom:18px;
                        font-size:24px;
                    }
                    img {
                        width:100%; height:auto;
                        display:block;
                    }
                }
                .inputs {
                    width:50%; height:100%; padding:20px;
                    display:flex; flex-direction: column; justify-content: center;

                    .box {
                        margin:4px;
                    }
                }
            }
            .step-2 {
                width:100%; height:100%;
                #map {
                    width:100%; height:100%;
                }
            }
            .step-3 {
                .image {
                    width:50%; height:100%; padding:140px;
                    display:flex; flex-direction: column; justify-content: center; align-items: center;

                    .box {
                        position: relative;
                        width:100%;
                        height: 400px;

                        img {
                            width:100%; height:auto;
                            display:none;
                            animation: img 0.23s ease;
                            position:absolute;
                        }
                        img:nth-child(1) {
                            display: block;
                        }
    
                        @keyframes img {
                            from {top: 30px;opacity:0.7}
                            to {top:0px;opacity:1;}
                          }
                    }

                }
                .description {
                    width:50%; height:100%; padding:20px;
                    display:flex; flex-direction: column; justify-content: center;

                    p {
                        width: 100%;
                        text-align: center;;
                        margin-bottom: 1em;
                    }
                }
            }
            .step-4 {
                .box {
                    width:100%;height: 100%;
                    display: flex; flex-direction: column;justify-content: center;align-items: center;

                    p {
                        width:100%;
                        text-align: center;
                        margin-bottom: 1em;
                    }

                    textarea {
                        width:100%; max-width: 720px;
                        height:480px; max-height: 70%;
                    }
                }
            }
            .step-end {
                flex-direction: column; justify-content: flex-start;align-items: center;
                padding-top:30px;

                p {
                    width:100%;
                    text-align: center;
                    margin:1em 0em;
                }

                .box {
                    position: relative;
                    width:100%; height:360px; max-width:360px;
                    display: flex;flex-direction: row; justify-content: space-around; align-items: center;

                    img {
                       height:100%; width:auto; 
                    }
                }
            }
        }
    }
}