.ymap {
    display: none;
    width: 100%; height: 500px; max-height: 80vh;
    position: relative; top: 0px; left: 0px;
    z-index: 5;
    margin: 50px 0px 200px 0px;
    #map {
      width: 100%;
      height: 100%;
    }
    .ymap-btn-box {
      width: 100%;
      display: flex; flex-direction: row; justify-content: space-around; align-items: center;
    }
}