:root {
    --color: #9c27b0;
    --color-hover:#7c1f8c;
    --color-yellow: #ffd54f;
    --color-yellow-hover: #ffc107;
  }
  html {
    scroll-behavior: smooth;
  }
  * {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    font-family:Arial;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex; flex-direction: column; justify-content: space-around; align-items: center;
    overflow-y: scroll;
  }

  a {
    text-decoration: none;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  select {
    appearance: none;
    cursor: pointer;
    position: relative;
    outline-color: var(--color);
  }
  .select-arrow {
    position: relative;
  }
  .select-arrow:before {
    content:"";
    display: block;
    position:absolute;
    top:15px;
    right:15px;
    border-bottom:3px solid var(--color);
    border-left:3px solid var(--color);
    transform: rotate(-45deg);
    width:5px;
    height:5px;
    z-index:30;
  }
  input:invalid {
    border: 2px solid #dc3545;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  
  input:valid {
    border: 2px solid var(--color);
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 1em;
    min-width: 120px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .btn {
    background-color: var(--color); color: white;
    border: none; border-radius: 4px;
    min-width: 180px;
    font-size: 16px; text-align: center;
    transition: 300ms ease; cursor: pointer;
    user-select: none;
  }

  a .btn {
    padding:12px;
  }
  
  .btn:hover {
    background-color: var(--color-hover);
  }
  
  .btn-yellow {
    background-color: var(--color-yellow);
  }
  .btn-yellow:hover {
    background-color: var(--color-yellow-hover);
  }