.error-404 {
    display:flex; flex-direction:row; justify-content: space-around; align-items: center;
    width:100%; min-height:100vh;

    .box {
        display:flex; flex-direction:row; justify-content: space-around; align-items: center;
        height:80%; width:100%; max-width:1024px;

        .img {
            display:flex; flex-direction:row; justify-content: space-around; align-items: center;
            width:60%; height:100%;

            img {
                width:100%; height:auto;
            }
        }

        .text {
            display:flex; flex-direction:column; justify-content: space-around; align-items: flex-start;
            width:40%;

            h1 {
                font-size:64px;
                margin:0px;
            }

            h3 {
                font-size:23px;
                margin-bottom:0.5em; opacity:0.3;
            }
            p {
                margin-bottom:1em;
            }
            .btn {
                padding:12px;
            }
        }
    }
}